/* Espaçamento */
/* MENU  */

/*BOTOES*/
.botao_sul {
  background: #6a1417;
  border: #6a1417;
  color: aliceblue;
}

.botao_sul:hover {
  color: #ffffff;
  background: #972226;
}

.botao_sudeste {
  background: #fe4e1f;
  border: #cf512e;
  color: aliceblue;
}

.botao_sudeste:hover {
  color: #ffffff;
  background: #cf512e;
}

.botao_nordeste {
  background: #197b3b;
  border: #197b3b;
  color: aliceblue;
}

.botao_nordeste:hover {
  color: #ffffff;
  background: #045320;
}

.botao_norte {
  background: #3249a5;
  border: #3249a5;
  color: aliceblue;
}

.botao_norte:hover {
  color: #ffffff;
  background: #4361da;
}

.botao_centro_oeste {
  background: #efed05;
  border: #efed05;
  color: #000000;
}

.botao_centro_oeste:hover {
  color: #000000;
  background: #e2cd0a;
}

/*JUMBOTRON*/
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1457694587812-e8bf29a43845?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071);
}

/* Estilos do HTML*/
/*Carousel*/
.carousel-caption {
  background-color: #3249a5;
  margin-bottom: 50px;
}
.h3CarouselImg {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.pCarouselImg {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.carousel-altura {
  max-height: 400px;
  width: 1920px;
}
/*Mouse Over*/
.cardHover {
  width: 350px;
  border: none;
}
/* Infografico 1 */
.infograficoUm {
  max-width: 100%;
  min-width: 300px;
}
.titDoc {
  color:#ffffff; 
  font-family: 'Poppins', sans-serif; 
  text-align: center;
}
.titDoc2 {
  color:#3d3d3d;
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
/* Customizando logo */
.custom-logo-link {
  margin: 0 auto;
}

/* Media Queries */
/* Menu em telas grandes */
@media (max-width: 3000px) {
  /* MENU  */
  .nav-link {
    font-size: 21px;
    margin-left: 10px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 20px;
  }
  /* Busca */
  .btn-dark {
    font-size: 20px;
  }
  /* Busca */
  .form-control {
    font-size: 20px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 135px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 45px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 30px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 360px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 30px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 30px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -35px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
  /* Footer */
  footer .text-center {
    font-size: 30px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
    } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 2652px) {
  /* MENU  */
  .nav-link {
    font-size: 21px;
    margin-left: 10px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 20px;
  }
  /* Busca */
  .btn-dark {
    font-size: 20px;
  }
  /* Busca */
  .form-control {
    font-size: 20px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 130px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 45px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 30px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 350px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 28px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 30px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -35px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
  /* Footer */
  footer .text-center {
    font-size: 30px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
    } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
/*referencia*/
@media (max-width: 2260px) {
  /* MENU  */

  /* MENU Dropdown */
  .dropdown-item {
    font-size: 20px;
  }
  /* Busca */
  .btn-dark {
    font-size: 20px;
  }
  /* Busca */
  .form-control {
    font-size: 20px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 120px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 40px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 25px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 330px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 26px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 30px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 30px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -35px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
  /* Footer */
  footer .text-center {
    font-size: 30px;
  }
  /* Icon */
  /* .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 1940px) {
  /* MENU  */
  .menu_responsivo ul li a {
    color: #303030 !important;
  }
  .menu_responsivo ul li a:hover {
    color: #f14e1c !important;
  }
  /* MENU Dropdown */

  /* Busca */

  /* Slideshow */
  .carousel-caption {
    margin-bottom: 80px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 40px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 25px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 250px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 18px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 18px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -45px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
  /* Footer */
  footer .text-center {
    font-size: 20px;
  }
  /* Icon */
  /* .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 20px;
  } */
  /* Cor Documentos */
  .corDocBanner {
    background-color: #197b3b;
    padding: 2em;
  }
  .corDoc {
    background-color: #a7bfaf;
    padding: 2em;
  }
}
@media (max-width: 1716px) {
  /* MENU  */
  .nav-link {
    font-size: 24px;
    margin-left: 5px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 23px;
  }
  /* Busca */
  .btn-dark {
    font-size: 22px;
  }
  /* Busca */
  .form-control {
    font-size: 22px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 75px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 40px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 30px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 270px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 18px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 18px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 18px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -50px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }
  /* Footer */
  footer .text-center {
    font-size: 19px;
  }
  /* Icon */
  /* .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 1672px) {
  /* MENU  */
  .nav-link {
    font-size: 22px;
    margin-left: 5px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 21px;
  }
  /* Busca */
  .btn-dark {
    font-size: 20px;
  }
  /* Busca */
  .form-control {
    font-size: 20px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 75px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 38px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 28px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 250px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 16px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 15px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -60px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }

  /* Footer */
  footer .text-center {
    font-size: 18px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
  }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 1366px) {
  /* MENU  */
  .nav-link {
    font-size: 16px;
    margin-left: 5px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 15px;
  }
  /* Busca */
  .btn-dark {
    font-size: 15px;
  }
  /* Busca */
  .form-control {
    font-size: 15px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 45px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 30px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 20px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 200px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 14px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }
  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }
  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }
  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 15px;
  }
  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 15px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -60px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }
  /* Footer */
  footer .text-center {
    font-size: 18px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
  }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 1200px) {
  /* MENU  */
  .nav-link {
    font-size: 13px;
    margin-left: 0px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 13px;
  }
  /* Busca */
  .btn-dark {
    font-size: 13px;
  }
  /* Busca */
  .form-control {
    font-size: 13px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 20px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 14px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 35px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 180px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 12px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }

  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }

  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }

  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }
  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 13px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -40px;
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }
  /* ZOOM */
  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
  }
  /* Footer */
  footer .text-center {
    font-size: 14px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
  }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 992px) {
  /* MENU  */
  .nav-link {
    font-size: 13px;
    margin-left: 0px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 13px;
  }
  /* Busca */
  .btn-dark {
    font-size: 13px;
  }
  /* Busca */
  .form-control {
    font-size: 13px;
  }
  /* Título Carousel */
  .h3CarouselImg {
    font-size: 20px;
  }
  /* Texto Carousel */
  .pCarouselImg {
    font-size: 14px;
  }
  /* Slideshow */
  .carousel-caption {
    margin-bottom: 8px;
  }
  /* Tamanho Mapa miniatura */
  .cardHover {
    width: 150px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 12px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }

  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }

  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }

  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 13px;
  }

  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }

  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 13px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -40px;
  }
  /* Footer */
  footer .text-center {
    font-size: 14px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
  }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 768px) {
  /* MENU  */
  .nav-link {
    font-size: 16px;
    margin-left: 0px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 14px;
  }
  /* Busca */
  .btn-dark {
    font-size: 16px;
  }
  /* Busca */
  .form-control {
    font-size: 16px;
  }
  /* Título Carousel */
  /* .h3CarouselImg {
      font-size: 20px;
    }
    /* Texto Carousel */
  /*.pCarouselImg {
      font-size: 14px;
    }
    /* Slideshow */
  /*.carousel-caption {
      margin-bottom: 8px;
    }
    /* Tamanho Mapa miniatura */
  .cardHover {
    width: 120px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 10px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 10px;
  }

  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }

  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 10px;
  }

  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }

  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 10px;
  }

  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }

  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 10px;
  }

  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }

  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 10px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -80px;
  }
  /* Footer */
  footer .text-center {
    font-size: 10px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
  }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
@media (max-width: 576px) {
  /* MENU  */
  .nav-link {
    font-size: 16px;
    margin-left: 0px;
  }
  /* MENU Dropdown */
  .dropdown-item {
    font-size: 15px;
  }
  /* Busca */
  .btn-dark {
    font-size: 15px;
  }
  /* Busca */
  .form-control {
    font-size: 15px;
  }
  /* Título Carousel */
  /* .h3CarouselImg {
      font-size: 20px;
    }
    /* Texto Carousel */
  /*.pCarouselImg {
      font-size: 14px;
    }
    /* Slideshow */
  /*.carousel-caption {
      margin-bottom: 8px;
    }
    /* Tamanho Mapa miniatura */
  .cardHover {
    width: 220px;
    border: none;
  }
  /* Tamanho Texto miniatura */
  .card-text {
    font-size: 16px;
  }
  /*BOTOES*/
  .botao_sul {
    background: #6a1417;
    border: #6a1417;
    color: aliceblue;
    font-size: 16px;
  }

  .botao_sul:hover {
    color: #ffffff;
    background: #972226;
  }

  .botao_sudeste {
    background: #fe4e1f;
    border: #cf512e;
    color: aliceblue;
    font-size: 16px;
  }

  .botao_sudeste:hover {
    color: #ffffff;
    background: #cf512e;
  }

  .botao_norte {
    background: #3249a5;
    border: #3249a5;
    color: aliceblue;
    font-size: 16px;
  }

  .botao_norte:hover {
    color: #ffffff;
    background: #4361da;
  }

  .botao_nordeste {
    background: #197b3b;
    border: #197b3b;
    color: aliceblue;
    font-size: 16px;
  }

  .botao_nordeste:hover {
    color: #ffffff;
    background: #045320;
  }

  .botao_centro_oeste {
    background: #efed05;
    border: #efed05;
    color: #000000;
    font-size: 16px;
  }
  .botao_centro_oeste:hover {
    color: #000000;
    background: #e2cd0a;
  }
  .infograficoUm {
    max-width: 100%;
    min-width: 300px;
    margin-top: -40px;
  }
  /* Footer */
  footer .text-center {
    font-size: 16px;
  }
  /* Icon */
  /* .btn-outline-light {
      color: #f8f9fa;
      border-color: #f8f9fa;
      padding: 15px 20px;
      margin-top: 20px;
      margin-bottom: 0px;
  }
    .fa-brands, .fab {
      font-family: "Font Awesome 6 Brands";
      font-weight: 400;
      font-size: 20px;
  } */
  /* Cor Documentos */
  .corDoc {
    background-color: #3249a5;
    padding: 2em;
  }
}
